
.date {
	display: block;
	position: absolute;
	width: 120px;
	padding: 0 10px;
	left: -120px;
	background: rgba(90, 91, 93, 0.3);
	@include border-radius(4px 0, 0 4px);
}


.article-list {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		position: relative
	}

	p {
		padding-left: 10px;
		border-left: 3px solid rgba(90, 91, 93, 0.3);
	}

	.date {
		left: -140px;
	}
}

.post {

	img {
		display: block;
		margin: 0 auto
	}
}

p code, li code { color: #ccc }


code, pre { font-family: "Source Code Pro", Monaco, monospace, sans-serif; }