@import '_fonts.scss';
@import '_variables.scss';
@import '_syntax.scss';
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/text-shadow";


*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background: $body-bg;
  background-image: 
  	linear-gradient(90deg, rgba(0, 0, 0, 0) 100%, #FFFFFF 100%), 
  	linear-gradient(45deg, 
  			rgba(0, 0, 0, 0.1) 25%, 
  			rgba(0, 0, 0, 0) 25%, 
  			rgba(0, 0, 0, 0) 50%, 
  			rgba(0, 0, 0, 0.1) 50%, 
  			rgba(0, 0, 0, 0.1) 75%, 
  			rgba(0, 0, 0, 0) 75%, 
  			rgba(0, 0, 0, 0));
  background-size: 100% 100%, 100px 100px;
  height: 100%;
  width: 100%;
}

body { font: $body-font; min-width: 580px; }
a {
	color: $anchor-color; 
	text-decoration: none;
	&:hover {
		text-decoration: underline
	}
}

.right { float: right }

.container {
	margin: 0 auto;
	max-width: 580px;

	&>section {

		@include border-radius(0, 4px);
		background: rgba(25, 25, 25, 0.95);
		color: #eee;
		position: relative;
		padding: 10px 20px;
		// border: 1px solid #2B303A;
		// @include border-radius(2px, 2px);
		// background: $content-bg;

		// &:before,&:after {
		// 	background: #616C86;
		// 	background: rgba(97, 107, 134, 0.9);
  //   	content: "";
  //   	height: 100%;
  //   	left: -6px;
  //   	top: -6px;
  //   	width: 100%;
  //   	position: absolute;
  //   	z-index: -1;
		// }
		// &:before {
		// 	top: -12px;
		// 	left: -12px;
		// 	background: #373D4C;
		// 	background: rgba(55, 61, 76, 0.9);
		// }

		p:first-of-type {
			margin-top: 0
		}
	}
}

h1 {
  margin: 0 auto;
  background: url('../img/logo.png') top left no-repeat;
  width: 424px;
  height: 180px;
  text-indent: -9999px;
  a { display: block }
}

h2 {
	text-align: center;
	font: $nav-font;
	font-size: 30px;
	color: #fff;
	margin: 11px 0;
	@include single-text-shadow(1px, 1px, 2px, 2px, #000);
}


nav {
	margin-bottom: 20px;
	ul { overflow: hidden; padding: 0 20px; margin: 0; border: 1px solid $helion3-green; border-left: none; border-right: none }
	li {
		list-style: none;
		float: left;

		a {
			@include single-transition(all, 150ms, ease-in-out);
			display: block;
			padding: 0 20px;
			font: $nav-font;
			text-transform: uppercase;
			color: $nav-anchor-color;
			margin: 0 1px 0 1px;
			&:hover, &.at {
				background: $helion3-green;
				text-decoration: none;
				color: #000;
			}
		}
	}
}

@import '_blog.scss';

.cmonitor {
  width: 434px;
  margin: 0 auto;
  overflow: hidden;
  input {
    float: left;
    font-size: 20px;
  }
  [type=email] {
    width: 300px;
    height: 34px;
    margin-right: 20px;
  }
  [type=submit] {
    color: #222;
    height: 34px;
  }
}
