@import '_fonts.scss';
@import '_variables.scss';
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

body {
  font: $body-font;
  padding: 0;
  margin: 0;
  background: #000 url('../img/sequent/sequent-bg.png') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #F3F3F3;
}

.container {
}

h1 {
  margin: 0 auto;
  margin-top: 30px;
  background: url('../img/sequent/title.png') top left no-repeat;
  width: 500px;
  height: 110px;
  text-indent: -9999px;
  a { display: block }
}

.content-bg {
  background: rgba(20, 20, 20, 0.70);
  padding-top: 20px;
  margin-top: 20px;
  min-height: 2000px;
}

.content-wrap {
  width: 720px;
  margin: 0 auto;

  h4 {
    color: #aaa;
    text-transform: uppercase;
    margin-bottom: 0;
    font: $nav-font;
    font-size: 32px;
    line-height: 1em;
  }
}

.content {
  border-top: 1px solid #6C6C6C;
  border-bottom: 1px solid #393939;
  position: relative;
  @include border-radius(4px);
  @include single-box-shadow(0, 0, 5, 1, #222, false);
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.80);
  padding: 10px;
}

.badges {

  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    float: left;
    width: 115px;
    margin: 10px 0;
    list-style: none;
    text-align: center;
  }
  span {
    display: block;
    text-align: center;
  }
}

.tools {

  margin: 0;
  padding: 0;
  
  &>li {
    overflow: hidden;
    display: block;

    img {
      float: left;
    }

    ul {
      padding: 0;
      width: 590px;
      float: right;
    }

    li {
      list-style: none;
    }

    strong {
      color: #ccc;
      font-weight: 400;
      text-transform: uppercase;
      font-size: .8em;
    }
  }
}

footer {
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: #D6D7D0;
}

a, a:link { color: #2CB5FF }

.screenshot {
  width: 620px;
  margin: 20px auto;
  padding: 5px;
  border: 1px solid #393939;
}

.appstore {
  display: block;
  width: 200px;
  height: 65px;
  margin: 0 auto 20px auto;
}

.note {
  font-size: 0.9em;
}