<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="LLPpEfO1lkRovylqCFgQfiNq75oHfqQ8tOcT6h3D18A" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}/rss.xml">
    <title>{{ page.headtitle }}</title>
    <script type="text/javascript" src="//use.typekit.net/yho0acy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/app.min.css">
</head>
<body class="{{ page.bodyclass }}">
    <article class="container">
        <header>
            <h1><a href="/">{{ site.name }}</a></h1>
        </header>
        <nav>
            <ul>
              <li><a href="{{ site.baseurl }}/">Home</a></li>
              <li><a href="{{ site.baseurl }}/articles.html">Articles</a></li>
              <li class="right"><a href="https://github.com/helion3" target="_blank">GitHub</a></li>
              <li class="right"><a href="https://twitter.com/helion_3" target="_blank">Twitter</a></li>
            </ul>
        </nav>